<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>17.0</Version>
<Cluster>
<Name>Settings in</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>Hardware Configuration</Name>
<NumElts>10</NumElts>
<String>
<Name>DAQmx Channel</Name>
<Val>cDAQETH/ai0:23, cDAQETH/ai29, cDAQETH/ai31:30</Val>
</String>
<DBL>
<Name>Sample Rate</Name>
<Val>1000.00000000000000</Val>
</DBL>
<Refnum>
<Name>DAQmx Task</Name>
<RefKind>Generic Tag</RefKind>
<RefType>NIDAQ</RefType>
<Val></Val>
</Refnum>
<Boolean>
<Name>ResetInterp</Name>
<Val>0</Val>
</Boolean>
<Array>
<Name>GainConstants</Name>
<Dimsize>5</Dimsize>
<DBL>
<Name>Numeric</Name>
<Val>1.00000000000000E-2</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>2.00000000000000</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>10.00000000000000</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>0.10000000000000</Val>
</DBL>
</Array>
<Array>
<Name>FilterCoefficients</Name>
<Dimsize>2</Dimsize>
<Dimsize>5</Dimsize>
<DBL>
<Name>Numeric</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>-3.96053859182953</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>5.88238459768097</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>-3.88315341959566</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>0.96130741374423</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>-3.98884203582702</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>5.96659980646979</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>-3.96667328997476</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>0.98891551988996</Val>
</DBL>
</Array>
<Array>
<Name>ChannelNames</Name>
<Dimsize>24</Dimsize>
<String>
<Name>String</Name>
<Val>CH1X</Val>
</String>
<String>
<Name>String</Name>
<Val>CH1Y</Val>
</String>
<String>
<Name>String</Name>
<Val>CH1Z</Val>
</String>
<String>
<Name>String</Name>
<Val>CH2X</Val>
</String>
<String>
<Name>String</Name>
<Val>CH2Y</Val>
</String>
<String>
<Name>String</Name>
<Val>CH2Z</Val>
</String>
<String>
<Name>String</Name>
<Val>CH3X</Val>
</String>
<String>
<Name>String</Name>
<Val>CH3Y</Val>
</String>
<String>
<Name>String</Name>
<Val>CH3Z</Val>
</String>
<String>
<Name>String</Name>
<Val>CH4X</Val>
</String>
<String>
<Name>String</Name>
<Val>CH4Y</Val>
</String>
<String>
<Name>String</Name>
<Val>CH4Z</Val>
</String>
<String>
<Name>String</Name>
<Val>CH5X</Val>
</String>
<String>
<Name>String</Name>
<Val>CH5Y</Val>
</String>
<String>
<Name>String</Name>
<Val>CH5Z</Val>
</String>
<String>
<Name>String</Name>
<Val>CH6X</Val>
</String>
<String>
<Name>String</Name>
<Val>CH6Y</Val>
</String>
<String>
<Name>String</Name>
<Val>CH6Z</Val>
</String>
<String>
<Name>String</Name>
<Val>CH7X</Val>
</String>
<String>
<Name>String</Name>
<Val>CH7Y</Val>
</String>
<String>
<Name>String</Name>
<Val>CH7Z</Val>
</String>
<String>
<Name>String</Name>
<Val>CH8X</Val>
</String>
<String>
<Name>String</Name>
<Val>CH8Y</Val>
</String>
<String>
<Name>String</Name>
<Val>CH8Z</Val>
</String>
</Array>
<Array>
<Name>ActiveChannels</Name>
<Dimsize>8</Dimsize>
<I32>
<Name>Numeric</Name>
<Val>0</Val>
</I32>
<I32>
<Name>Numeric</Name>
<Val>1</Val>
</I32>
<I32>
<Name>Numeric</Name>
<Val>2</Val>
</I32>
<I32>
<Name>Numeric</Name>
<Val>3</Val>
</I32>
<I32>
<Name>Numeric</Name>
<Val>4</Val>
</I32>
<I32>
<Name>Numeric</Name>
<Val>5</Val>
</I32>
<I32>
<Name>Numeric</Name>
<Val>6</Val>
</I32>
<I32>
<Name>Numeric</Name>
<Val>7</Val>
</I32>
</Array>
<I32>
<Name>Display Rate</Name>
<Val>250</Val>
</I32>
<Boolean>
<Name>ResponseExtension</Name>
<Val>1</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>Logging Configuration</Name>
<NumElts>18</NumElts>
<Path>
<Name>Log File Base Path</Name>
<Val>D:\Documents\LabVIEW Data\Logged Data.tdms</Val>
</Path>
<U32>
<Name>Samples to Save</Name>
<Val>9900</Val>
</U32>
<DBL>
<Name>Trigger - Threshold</Name>
<Val>0.00000000000000</Val>
</DBL>
<U32>
<Name>Trigger - Channel</Name>
<Val>0</Val>
</U32>
<Boolean>
<Name>Always Log</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>External Trigger</Name>
<Val>1</Val>
</Boolean>
<Boolean>
<Name>External Trigger Armed</Name>
<Val>0</Val>
</Boolean>
<Refnum>
<Name>TDMS File Reference</Name>
<RefKind>TDMS File</RefKind>
<Val>0x00000000</Val>
</Refnum>
<String>
<Name>DAQVersion</Name>
<Val>1.0</Val>
</String>
<String>
<Name>SWVersion</Name>
<Val>1.7.5.16</Val>
</String>
<U32>
<Name>CircSamples</Name>
<Val>100</Val>
</U32>
<Boolean>
<Name>BeepWhenComplete</Name>
<Val>0</Val>
</Boolean>
<Array>
<Name>ChannelConfig</Name>
<Dimsize>8</Dimsize>
<Dimsize>4</Dimsize>
<String>
<Name>String</Name>
<Val>CH1</Val>
</String>
<String>
<Name>String</Name>
<Val>CH1</Val>
</String>
<String>
<Name>String</Name>
<Val>NA</Val>
</String>
<String>
<Name>String</Name>
<Val>XYZ</Val>
</String>
<String>
<Name>String</Name>
<Val>CH2</Val>
</String>
<String>
<Name>String</Name>
<Val>CH2</Val>
</String>
<String>
<Name>String</Name>
<Val>NA</Val>
</String>
<String>
<Name>String</Name>
<Val>XYZ</Val>
</String>
<String>
<Name>String</Name>
<Val>CH3</Val>
</String>
<String>
<Name>String</Name>
<Val>CH3</Val>
</String>
<String>
<Name>String</Name>
<Val>NA</Val>
</String>
<String>
<Name>String</Name>
<Val>XYZ</Val>
</String>
<String>
<Name>String</Name>
<Val>CH4</Val>
</String>
<String>
<Name>String</Name>
<Val>CH4</Val>
</String>
<String>
<Name>String</Name>
<Val>NA</Val>
</String>
<String>
<Name>String</Name>
<Val>XYZ</Val>
</String>
<String>
<Name>String</Name>
<Val>CH5</Val>
</String>
<String>
<Name>String</Name>
<Val>CH5</Val>
</String>
<String>
<Name>String</Name>
<Val>NA</Val>
</String>
<String>
<Name>String</Name>
<Val>XYZ</Val>
</String>
<String>
<Name>String</Name>
<Val>CH6</Val>
</String>
<String>
<Name>String</Name>
<Val>CH6</Val>
</String>
<String>
<Name>String</Name>
<Val>NA</Val>
</String>
<String>
<Name>String</Name>
<Val>XYZ</Val>
</String>
<String>
<Name>String</Name>
<Val>CH7</Val>
</String>
<String>
<Name>String</Name>
<Val>CH7</Val>
</String>
<String>
<Name>String</Name>
<Val>NA</Val>
</String>
<String>
<Name>String</Name>
<Val>XYZ</Val>
</String>
<String>
<Name>String</Name>
<Val>CH8</Val>
</String>
<String>
<Name>String</Name>
<Val>CH8</Val>
</String>
<String>
<Name>String</Name>
<Val>NA</Val>
</String>
<String>
<Name>String</Name>
<Val>XYZ</Val>
</String>
</Array>
<Array>
<Name>ActiveChannels</Name>
<Dimsize>8</Dimsize>
<I32>
<Name>Numeric</Name>
<Val>0</Val>
</I32>
<I32>
<Name>Numeric</Name>
<Val>1</Val>
</I32>
<I32>
<Name>Numeric</Name>
<Val>2</Val>
</I32>
<I32>
<Name>Numeric</Name>
<Val>3</Val>
</I32>
<I32>
<Name>Numeric</Name>
<Val>4</Val>
</I32>
<I32>
<Name>Numeric</Name>
<Val>5</Val>
</I32>
<I32>
<Name>Numeric</Name>
<Val>6</Val>
</I32>
<I32>
<Name>Numeric</Name>
<Val>7</Val>
</I32>
</Array>
<String>
<Name>Title</Name>
<Val></Val>
</String>
<String>
<Name>Description</Name>
<Val></Val>
</String>
<Array>
<Name>ChannelNames</Name>
<Dimsize>24</Dimsize>
<String>
<Name>String</Name>
<Val>CH1X</Val>
</String>
<String>
<Name>String</Name>
<Val>CH1Y</Val>
</String>
<String>
<Name>String</Name>
<Val>CH1Z</Val>
</String>
<String>
<Name>String</Name>
<Val>CH2X</Val>
</String>
<String>
<Name>String</Name>
<Val>CH2Y</Val>
</String>
<String>
<Name>String</Name>
<Val>CH2Z</Val>
</String>
<String>
<Name>String</Name>
<Val>CH3X</Val>
</String>
<String>
<Name>String</Name>
<Val>CH3Y</Val>
</String>
<String>
<Name>String</Name>
<Val>CH3Z</Val>
</String>
<String>
<Name>String</Name>
<Val>CH4X</Val>
</String>
<String>
<Name>String</Name>
<Val>CH4Y</Val>
</String>
<String>
<Name>String</Name>
<Val>CH4Z</Val>
</String>
<String>
<Name>String</Name>
<Val>CH5X</Val>
</String>
<String>
<Name>String</Name>
<Val>CH5Y</Val>
</String>
<String>
<Name>String</Name>
<Val>CH5Z</Val>
</String>
<String>
<Name>String</Name>
<Val>CH6X</Val>
</String>
<String>
<Name>String</Name>
<Val>CH6Y</Val>
</String>
<String>
<Name>String</Name>
<Val>CH6Z</Val>
</String>
<String>
<Name>String</Name>
<Val>CH7X</Val>
</String>
<String>
<Name>String</Name>
<Val>CH7Y</Val>
</String>
<String>
<Name>String</Name>
<Val>CH7Z</Val>
</String>
<String>
<Name>String</Name>
<Val>CH8X</Val>
</String>
<String>
<Name>String</Name>
<Val>CH8Y</Val>
</String>
<String>
<Name>String</Name>
<Val>CH8Z</Val>
</String>
</Array>
<Boolean>
<Name>ResponseExtension</Name>
<Val>1</Val>
</Boolean>
</Cluster>
</Cluster>
</LVData>